.header_container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

.header-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 4vh;
}

.header-authors {
  font-style: italic;
  text-align: center;
  margin-top: 0;
  font-size: 2.7vh;
  margin-bottom: 15px;
}

.header-smalltitle {
  font-size: 2.5vh;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.main_container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

.article-headline {
  margin-top: 0;
  font-size: 3.8vh;
  margin-bottom: 20px;
}

.article-paragraph {
  font-size: 2.4vh;
  line-height: 26px;
}

.article1-paragraph1 {
  font-weight: 800;
  font-size: 2.4vh;
  line-height: 26px;
  margin-top: 0;
}

.article1-paragraph2 {
  font-size: 2.4vh;
  line-height: 26px;
}

.article1-paragraph3 {
  font-size: 2.4vh;
  line-height: 26px;
  font-style: italic;
  text-align: center;
}

.article2-paragraph1 {
  margin-top: 0;
}

.article2-paragraph1 span {
  text-decoration: underline;
}

.article2-paragraph2 span {
  font-weight: 800;
}

.article2-paragraph4 {
  margin-bottom: 15px;
  font-size: 2.4vh;
  line-height: 26px;
}

.article2-paragraph4-span1 {
  font-weight: 800;
}

.article2-paragraph4-span2 {
  font-style: italic;
  text-decoration: underline;
}

.article3 {
  margin-bottom: 20px;
  height: 100%;
}

.article3-headline {
  margin-top: 20px;
}

.article3-img {
  float: left;
  padding-right: 20px;
}

.article3-paragraph2 {
  font-weight: 800;
  font-style: italic;
}

.article4 {
  width: 100%;
}
.article4-paragraph1 {
  text-align: right;
  font-style: italic;
  margin-bottom: 40px;
}

.article4-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.article4-paragraph3 {
  margin-bottom: 70px;
}

.article4_ul {
  margin-top: 0;
  margin-bottom: 70px;
}

.article4_ul-li {
  font-size: 2.4vh;
  line-height: 26px;
}

.article4_ol {
  margin-top: 0;
}

.article4_ol-li {
  font-size: 2.4vh;
  line-height: 26px;
}

@media(min-width: 320px) and (max-width: 630px) {
  .article3-img {
    width: 100%;
    height: 100%;
  }
  .article4-img {
    width: 100%;
    height: 100%;
  }
}